.container {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.clock {
    display: grid;
    place-items: center;
    border: 1px solid #000;
    border-radius: 5px;
    width: 25%;
    height: 50px;
    font-size: 30px;
}

.playerInfo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: auto;
    height: auto;
}

.playerUsername {
    font-size: 20px;
}

.playerRating {
    font-size: 15px;
}